.App {
  display: flex;
  justify-content: center;
}

.AgeCalculator {
  background-color: grey;
  width: 20%;
  height: 50%;
  text-align: center;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px 20px 5px 20px;
}

.AgeCalculator > *{
  margin: 35px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > * {
  margin: 4px;
}

button {
  margin-top: 15px;
}

h1 {
  color: white;
  font-weight: bold;

}

h3 {
  color: white;
}